/* .naglowekForm {
  background-color: #d5e7d8;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}
.naglowekText {
  color: black;
}
.formularz {
  border: 1.5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; */
/* padding: 10px; */
/* } */
